<a href="https://colab.research.google.com/github/KrushnaTaur/ML-Practice/blob/main/02_Data_Preprocessing/01_Data_Import_and_Inspection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Mount Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
os.chdir('/content/drive/MyDrive/ML Practical')
os.listdir()

['Student_Dropout_Dataset.csv',
 'ML-Experiment1.pdf',
 'ML-Experiment2.pdf',
 'DataDict-Student_Dropout_Dataset.xlsx',
 'ML-Experiment3&4.ipynb',
 'Student_Dataset_Cleaned.csv',
 'ML-Experiment7.ipynb',
 'ML-Experiment8.ipynb',
 'ML-Experiment6.ipynb']

# 2. Import Libraries

In [3]:
import pandas as pd

# 3. Load Dataset

In [16]:
df = pd.read_csv('Student_Dataset_Cleaned.csv')

In [7]:
# View first 5 rows
df.head()

,Marital_status,Daytime_evening_attendance_,Previous_qualification,Previous_qualification_grade_,Mother_s_qualification,Father_s_qualification,Mother_s_occupation,Father_s_occupation,Admission_grade,Displaced,...,Curricular_units_2nd_sem_enrolled_,Curricular_units_2nd_sem_evaluations_,Curricular_units_2nd_sem_approved_,Curricular_units_2nd_sem_without_evaluations_,Unemployment_rate,Inflation_rate,GDP,Target,Overall_Performance,Financial_Stability_Score
0,0.693147,713.434901,0.693147,122.0,19,12,1.459736,1.829314,127.3,1,...,0,0,0,0.0,10.8,1.4,1.74,1,7.137500,354.933348
1,0.693147,713.434901,0.693147,160.0,1,3,1.181467,1.204206,142.5,1,...,6,6,6,0.0,13.9,-0.3,0.79,0,13.833333,0.000000
2,0.693147,713.434901,0.693147,122.0,37,37,1.774292,1.829314,124.8,1,...,6,0,0,0.0,10.8,1.4,1.74,1,7.137500,0.000000
3,0.693147,713.434901,0.693147,122.0,38,37,1.459736,1.204206,119.6,1,...,6,10,5,0.0,9.4,-0.8,-3.12,0,12.914286,354.933348
4,1.098612,0.000000,0.693147,100.0,37,38,1.774292,1.829314,141.5,0,...,6,6,6,0.0,13.9,-0.3,0.79,0,12.666667,354.933348

In [8]:
# View last 5 rows
df.tail()

,Marital_status,Daytime_evening_attendance_,Previous_qualification,Previous_qualification_grade_,Mother_s_qualification,Father_s_qualification,Mother_s_occupation,Father_s_occupation,Admission_grade,Displaced,...,Curricular_units_2nd_sem_enrolled_,Curricular_units_2nd_sem_evaluations_,Curricular_units_2nd_sem_approved_,Curricular_units_2nd_sem_without_evaluations_,Unemployment_rate,Inflation_rate,GDP,Target,Overall_Performance,Financial_Stability_Score
4419,0.693147,713.434901,0.693147,125.0,1,1,1.459736,1.367593,122.2,0,...,6,8,5,0.0,15.5,2.8,-4.06,0,13.133333,354.933348
4420,0.693147,713.434901,0.693147,120.0,1,1,1.774292,1.829314,119.0,1,...,6,6,2,0.0,11.1,0.6,2.02,1,11.500000,0.000000
4421,0.693147,713.434901,0.693147,154.0,37,37,1.774292,1.829314,149.5,1,...,8,9,1,0.0,13.9,-0.3,0.79,1,14.206250,355.119402
4422,0.693147,713.434901,0.693147,180.0,37,37,1.641559,1.367593,153.8,1,...,5,6,5,0.0,9.4,-0.8,-3.12,0,12.900000,355.119402
4423,0.693147,713.434901,0.693147,152.0,38,37,1.459736,1.829314,152.0,1,...,6,6,6,0.0,12.7,3.7,-1.70,0,12.333333,354.933348

In [9]:
# Check shape (rows, columns)
print("Shape:", df.shape)

Shape: (4424, 33)

In [10]:
# Check column names
print("Columns:", df.columns.tolist())

Columns: ['Marital_status', 'Daytime_evening_attendance_', 'Previous_qualification', 'Previous_qualification_grade_', 'Mother_s_qualification', 'Father_s_qualification', 'Mother_s_occupation', 'Father_s_occupation', 'Admission_grade', 'Displaced', 'Educational_special_needs', 'Debtor', 'Tuition_fees_up_to_date', 'Gender', 'Scholarship_holder', 'Age_at_enrollment', 'International', 'Curricular_units_1st_sem_credited_', 'Curricular_units_1st_sem_enrolled_', 'Curricular_units_1st_sem_evaluations_', 'Curricular_units_1st_sem_approved_', 'Curricular_units_1st_sem_without_evaluations_', 'Curricular_units_2nd_sem_credited_', 'Curricular_units_2nd_sem_enrolled_', 'Curricular_units_2nd_sem_evaluations_', 'Curricular_units_2nd_sem_approved_', 'Curricular_units_2nd_sem_without_evaluations_', 'Unemployment_rate', 'Inflation_rate', 'GDP', 'Target', 'Overall_Performance', 'Financial_Stability_Score']

In [11]:
# Check data types and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 33 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Marital_status                                 4424 non-null   float64
 1   Daytime_evening_attendance_                    4424 non-null   float64
 2   Previous_qualification                         4424 non-null   float64
 3   Previous_qualification_grade_                  4424 non-null   float64
 4   Mother_s_qualification                         4424 non-null   int64
 5   Father_s_qualification                         4424 non-null   int64
 6   Mother_s_occupation                            4424 non-null   float64
 7   Father_s_occupation                            4424 non-null   float64
 8   Admission_grade                                4424 non-null   float64
 9   Displaced                                      4424 non-null   int64
 10  Educational_special_needs                      4424 non-null   float64
 11  Debtor                                         4424 non-null   float64
 12  Tuition_fees_up_to_date                        4424 non-null   float64
 13  Gender                                         4424 non-null   int64
 14  Scholarship_holder                             4424 non-null   float64
 15  Age_at_enrollment                              4424 non-null   float64
 16  International                                  4424 non-null   float64
 17  Curricular_units_1st_sem_credited_             4424 non-null   float64
 18  Curricular_units_1st_sem_enrolled_             4424 non-null   float64
 19  Curricular_units_1st_sem_evaluations_          4424 non-null   int64
 20  Curricular_units_1st_sem_approved_             4424 non-null   int64
 21  Curricular_units_1st_sem_without_evaluations_  4424 non-null   float64
 22  Curricular_units_2nd_sem_credited_             4424 non-null   float64
 23  Curricular_units_2nd_sem_enrolled_             4424 non-null   int64
 24  Curricular_units_2nd_sem_evaluations_          4424 non-null   int64
 25  Curricular_units_2nd_sem_approved_             4424 non-null   int64
 26  Curricular_units_2nd_sem_without_evaluations_  4424 non-null   float64
 27  Unemployment_rate                              4424 non-null   float64
 28  Inflation_rate                                 4424 non-null   float64
 29  GDP                                            4424 non-null   float64
 30  Target                                         4424 non-null   int64
 31  Overall_Performance                            4424 non-null   float64
 32  Financial_Stability_Score                      4424 non-null   float64
dtypes: float64(23), int64(10)
memory usage: 1.1 MB

In [12]:
# Summary statistics for numeric columns
df.describe()

,Marital_status,Daytime_evening_attendance_,Previous_qualification,Previous_qualification_grade_,Mother_s_qualification,Father_s_qualification,Mother_s_occupation,Father_s_occupation,Admission_grade,Displaced,...,Curricular_units_2nd_sem_enrolled_,Curricular_units_2nd_sem_evaluations_,Curricular_units_2nd_sem_approved_,Curricular_units_2nd_sem_without_evaluations_,Unemployment_rate,Inflation_rate,GDP,Target,Overall_Performance,Financial_Stability_Score
count,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,...,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000
mean,0.755265,635.544065,1.041193,132.613314,19.561935,22.275316,1.499161,1.582535,126.808816,0.548373,...,6.232143,8.063291,4.435805,0.004422,11.566139,1.228029,0.001969,0.321203,11.711048,312.618625
std,0.192061,222.517978,0.879222,13.188332,15.603186,15.343108,0.479926,0.490938,13.996731,0.497711,...,2.195951,3.947951,3.014764,0.016949,2.663850,1.382711,2.269935,0.466991,2.359077,115.093026
min,0.693147,0.000000,0.693147,95.000000,1.000000,1.000000,0.000000,0.000000,95.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000,0.000000,7.137500,0.000000
25%,0.693147,713.434901,0.693147,125.000000,2.000000,3.000000,1.337914,1.367593,117.900000,0.000000,...,5.000000,6.000000,2.000000,0.000000,9.400000,0.300000,-1.700000,0.000000,11.000000,354.933348
50%,0.693147,713.434901,0.693147,133.100000,19.000000,19.000000,1.459736,1.687879,126.100000,1.000000,...,6.000000,8.000000,5.000000,0.000000,11.100000,1.400000,0.320000,0.000000,12.250000,354.933348
75%,0.693147,713.434901,0.693147,140.000000,37.000000,37.000000,1.774292,1.829314,134.800000,1.000000,...,7.000000,10.000000,6.000000,0.000000,13.900000,2.600000,1.790000,1.000000,13.266667,354.933348
max,1.945910,713.434901,3.784190,190.000000,44.000000,44.000000,3.009247,3.202843,160.150000,1.000000,...,23.000000,33.000000,20.000000,0.069372,16.200000,3.700000,3.510000,1.000000,17.104167,355.119402

# 4. Check for Missing Values

In [17]:
print("Missing values per column:\n", df.isnull().sum())

Missing values per column:
 Marital_status                                   0
Daytime_evening_attendance_                      0
Previous_qualification                           0
Previous_qualification_grade_                    0
Mother_s_qualification                           0
Father_s_qualification                           0
Mother_s_occupation                              0
Father_s_occupation                              0
Admission_grade                                  0
Displaced                                        0
Educational_special_needs                        0
Debtor                                           0
Tuition_fees_up_to_date                          0
Gender                                           0
Scholarship_holder                               0
Age_at_enrollment                                0
International                                    0
Curricular_units_1st_sem_credited_               0
Curricular_units_1st_sem_enrolled_               0
Curricular_units_1st_sem_evaluations_            0
Curricular_units_1st_sem_approved_               0
Curricular_units_1st_sem_without_evaluations_    0
Curricular_units_2nd_sem_credited_               0
Curricular_units_2nd_sem_enrolled_               0
Curricular_units_2nd_sem_evaluations_            0
Curricular_units_2nd_sem_approved_               0
Curricular_units_2nd_sem_without_evaluations_    0
Unemployment_rate                                0
Inflation_rate                                   0
GDP                                              0
Target                                           0
Overall_Performance                              0
Financial_Stability_Score                        0
dtype: int64

In [18]:
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 0

In [19]:
print("Shape:", df.shape)
print("\nColumns:", df.columns.tolist())
print("\nMissing values per column:\n", df.isnull().sum())

Shape: (4424, 33)

Columns: ['Marital_status', 'Daytime_evening_attendance_', 'Previous_qualification', 'Previous_qualification_grade_', 'Mother_s_qualification', 'Father_s_qualification', 'Mother_s_occupation', 'Father_s_occupation', 'Admission_grade', 'Displaced', 'Educational_special_needs', 'Debtor', 'Tuition_fees_up_to_date', 'Gender', 'Scholarship_holder', 'Age_at_enrollment', 'International', 'Curricular_units_1st_sem_credited_', 'Curricular_units_1st_sem_enrolled_', 'Curricular_units_1st_sem_evaluations_', 'Curricular_units_1st_sem_approved_', 'Curricular_units_1st_sem_without_evaluations_', 'Curricular_units_2nd_sem_credited_', 'Curricular_units_2nd_sem_enrolled_', 'Curricular_units_2nd_sem_evaluations_', 'Curricular_units_2nd_sem_approved_', 'Curricular_units_2nd_sem_without_evaluations_', 'Unemployment_rate', 'Inflation_rate', 'GDP', 'Target', 'Overall_Performance', 'Financial_Stability_Score']

Missing values per column:
 Marital_status                                   0
Daytime_evening_attendance_                      0
Previous_qualification                           0
Previous_qualification_grade_                    0
Mother_s_qualification                           0
Father_s_qualification                           0
Mother_s_occupation                              0
Father_s_occupation                              0
Admission_grade                                  0
Displaced                                        0
Educational_special_needs                        0
Debtor                                           0
Tuition_fees_up_to_date                          0
Gender                                           0
Scholarship_holder                               0
Age_at_enrollment                                0
International                                    0
Curricular_units_1st_sem_credited_               0
Curricular_units_1st_sem_enrolled_               0
Curricular_units_1st_sem_evaluations_            0
Curricular_units_1st_sem_approved_               0
Curricular_units_1st_sem_without_evaluations_    0
Curricular_units_2nd_sem_credited_               0
Curricular_units_2nd_sem_enrolled_               0
Curricular_units_2nd_sem_evaluations_            0
Curricular_units_2nd_sem_approved_               0
Curricular_units_2nd_sem_without_evaluations_    0
Unemployment_rate                                0
Inflation_rate                                   0
GDP                                              0
Target                                           0
Overall_Performance                              0
Financial_Stability_Score                        0
dtype: int64