# 1. Introduction & First Program

In [21]:
print("This is my first program")

name = input("Enter Name: ")
print("Hello,", name)

This is my first program
Enter Name: Krish
Hello, Krish

# 2. Variables and Data Types

In [2]:
# Variable Declaration
a = 10
b = 3.14
c = "Krish"
d = True

In [3]:
# Type Checking
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [4]:
# Type Casting
x = int(b)
y = str(a)
print(x, y)

3 10

# 3. Operators in Python

In [6]:
# Arithmetic Operators
a, b = 10, 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a // b)
print(a ** b)

13
7
30
3.3333333333333335
1
3
1000

In [8]:
# Comparison
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

True
False
True
False
False
True

In [9]:
# Logical
print(a > 5 and b < 5)
print(not (a < b))

True
True

In [10]:
# Assignment
a += 5
print(a)
a -= 5
print(a)
a *= 5
print(a)
a /= 5
print(a)

15
10
50
10.0

In [11]:
# Membership and Identity
nums = [1, 2, 3]
print(2 in nums)
print(a is b)

True
False

# 4. Conditional Statements

In [12]:
# Largest of three numbers
a, b, c = 5, 9, 3

if a > b and a > c:
    print("A is largest")
elif b > c:
    print("B is largest")
else:
    print("C is largest")

B is largest

# 5. Loops

In [13]:
# for loop with range
for i in range(1, 6):
    print(i, end=" ")

1 2 3 4 5

In [14]:
# while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [15]:
# Sum of even numbers between 1â€“50
total = 0
for i in range(2, 51, 2):
    total += i
print("Sum of even numbers:", total)

Sum of even numbers: 650

# 6. Strings

In [16]:
# String creation and indexing
s = "Python"
print(s[0], s[-1])

P n

In [18]:
# Slicing
print(s[0:3])
print(s[:2])
print(s[2:])

Pyt
Py
thon

In [19]:
# Methods
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.replace("P", "J"))
print(s.split("t"))

PYTHON
python
Python
Jython
['Py', 'hon']

In [20]:
# Count vowels
text = "Hi i am Krish!"
vowels = "aeiouAEIOU"
count = sum(1 for ch in text if ch in vowels)
print("Vowel count:", count)

Vowel count: 4

# 7. Lists

In [22]:
# Create list
nums = [4, 7, 1, 9, 2]

In [23]:
# Access, add, remove
print(nums[0])
nums.append(10)
nums.insert(2, 99)
nums.pop()
nums.remove(1)
print(nums)

4
[4, 7, 99, 9, 2]

In [24]:
# Sort, reverse
nums.sort()
print(nums)
nums.reverse()
print(nums)

[2, 4, 7, 9, 99]
[99, 9, 7, 4, 2]

In [25]:
# Max and Min
print("Max:", max(nums))
print("Min:", min(nums))

Max: 99
Min: 2

# 8. Tuples

In [26]:
# Tuple creation
t = (1, 2, 3, 4)
print(len(t), t.count(2), t.index(3))

4 1 2

In [27]:
# Swap using tuple unpacking
a, b = 10, 20
a, b = b, a
print("After swapping:", a, b)

After swapping: 20 10

# 9. Sets

In [28]:
# Set operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [29]:
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)
print("Common elements:", set1 & set2)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}
Common elements: {3, 4}

# 10. Dictionaries

In [31]:
# Basic dictionary
student = {"name": "Krushna Taur", "age": 19, "branch": "AI&DS"}
print(student["name"])
print(student["age"])
print(student["branch"])

Krushna Taur
19
AI&DS

In [32]:
# Add / update / delete
student["age"] = 20
student["college"] = "MIT"
del student["branch"]
print(student)

{'name': 'Krushna Taur', 'age': 20, 'college': 'MIT'}

In [33]:
# Word frequency
sentence = "Hello my name is Krish and I am studing at MIT"
words = sentence.split()
freq = {}
for w in words:
    freq[w] = freq.get(w, 0) + 1
print(freq)

{'Hello': 1, 'my': 1, 'name': 1, 'is': 1, 'Krish': 1, 'and': 1, 'I': 1, 'am': 1, 'studing': 1, 'at': 1, 'MIT': 1}

# 11. Functions

In [36]:
# Define and call
def greet(name):
    print("Hello", name)

greet("Krish")

Hello Krish

In [37]:
# Return values
def add(a, b):
    return a + b

print(add(5, 3))

8

In [38]:
# Prime check
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(13))

True

# 12. Basic Practice Programs

In [39]:
# Factorial
num = 5
fact = 1
for i in range(1, num + 1):
    fact *= i
print("Factorial:", fact)

Factorial: 120

In [40]:
# Reverse string
s = "Python"
print("Reversed:", s[::-1])

Reversed: nohtyP

In [41]:
# Palindrome
s = "madam"
print("Palindrome" if s == s[::-1] else "Not Palindrome")

Palindrome

In [42]:
# Largest in list
lst = [5, 2, 8, 1]
print("Largest:", max(lst))

Largest: 8

In [43]:
# Multiplication table
n = 7
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70