<a href="https://colab.research.google.com/github/KrushnaTaur/ML-Practice/blob/main/01_Basics/02_Functions_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Defining and Calling Functions

In [1]:
def function_name(parameters):
    # code
    return result

In [3]:
def greet():
    print("Hello my name is Krish!")

greet()

Hello my name is Krish!

In [6]:
def welcome(name):
    print("Welcome,", name)

welcome("Krish")

Welcome, Krish

# 2. Return Values

In [5]:
def add(a, b):
    return a + b

result = add(5, 3)
print("Sum:", result)

Sum: 8

In [7]:
def square(num):
    return num ** 2

print("Square:", square(7))

Square: 49

## 3. Default and Keyword Arguments

In [8]:
def greet(name="User"):
    print("Hello,", name)

greet()
greet("Krish")

def info(name, age):
    print(f"Name: {name}, Age: {age}")

info(age=19, name="Krish")

Hello, User
Hello, Krish
Name: Krish, Age: 19

In [9]:
def student_info(name, branch="AI&DS"):
    print(f"Name: {name}, Branch: {branch}")

student_info("Krish")

Name: Krish, Branch: AI&DS

# 4. *args and **kwargs

In [10]:
def add_all(*nums):
    return sum(nums)

print("Sum:", add_all(1, 2, 3, 4, 5))

Sum: 15

In [11]:
def show_info(**details):
    for key, value in details.items():
        print(f"{key}: {value}")

show_info(name="Krish", branch="AI&DS", college="MIT")

name: Krish
branch: AI&DS
college: MIT

In [12]:
def multiply_all(*nums):
    result = 1
    for n in nums:
        result *= n
    return result

print("Product:", multiply_all(2, 3, 4))

Product: 24

# 5. Lambda Functions

In [13]:
# Lambda function
square = lambda x: x ** 2
print(square(5))

25

In [14]:
# map()
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x ** 2, nums))
print("Squares:", squares)

Squares: [1, 4, 9, 16]

In [15]:
# filter()
even_nums = list(filter(lambda x: x % 2 == 0, nums))
print("Even numbers:", even_nums)

Even numbers: [2, 4]

In [16]:
# reduce()
from functools import reduce
product = reduce(lambda x, y: x * y, nums)
print("Product of all:", product)

Product of all: 24

In [19]:
names = ["krish", "ravi", "rohit"]
upper_names = list(map(lambda n: n.upper(), names))
print("Uppercase:", upper_names)

Uppercase: ['KRISH', 'RAVI', 'ROHIT']

In [18]:
numbers = [3, 10, 15, 22, 8]
greater = list(filter(lambda n: n > 10, numbers))
print("Numbers > 10:", greater)

Numbers > 10: [15, 22]

# 6. Recursion

In [20]:
# factorial
def factorial(n):
    if n == 1 or n == 0:
        return 1
    return n * factorial(n - 1)

print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [22]:
# fibonacci
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1) + fibonacci(n-2)

print("Fibonacci sequence:")
for i in range(7):
    print(fibonacci(i), end=" ")

Fibonacci sequence:
0 1 1 2 3 5 8

In [23]:
def sum_of_digits(n):
    if n == 0:
        return 0
    return n % 10 + sum_of_digits(n // 10)

print("Sum of digits:", sum_of_digits(1234))

Sum of digits: 10

# 7. Variable Scope & Docstrings

In [24]:
x = 100  # global variable

def demo():
    """This function shows variable scope example."""
    y = 10  # local variable
    print("Inside function:", y)
    print("Access global:", x)

demo()
print("Outside function:", x)

Inside function: 10
Access global: 100
Outside function: 100

In [25]:
def cube(n):
    """Returns cube of a given number."""
    return n ** 3

print("Cube:", cube(4))
print(cube.__doc__)

Cube: 64
Returns cube of a given number.