<a href="https://colab.research.google.com/github/KrushnaTaur/ML-Practice/blob/main/01_Basics/03_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Lists

In [1]:
# Creating and accessing list elements
numbers = [10, 20, 30, 40, 50]
print(numbers)
print("First element:", numbers[0])
print("Last element:", numbers[-1])

[10, 20, 30, 40, 50]
First element: 10
Last element: 50

In [2]:
# Slicing
print("First 3 elements:", numbers[:3])
print("Every alternate element:", numbers[::2])

First 3 elements: [10, 20, 30]
Every alternate element: [10, 30, 50]

In [4]:
nums = [3, 1, 4, 2, 5]

nums.append(10)
print("Updated List:", nums)

nums.insert(2, 99)
print("Updated List:", nums)

nums.remove(4)
print("Updated List:", nums)

nums.pop()
print("Updated List:", nums)

nums.sort()
print("Updated List:", nums)

nums.reverse()
print("Updated List:", nums)

Updated List: [3, 1, 4, 2, 5, 10]
Updated List: [3, 1, 99, 4, 2, 5, 10]
Updated List: [3, 1, 99, 2, 5, 10]
Updated List: [3, 1, 99, 2, 5]
Updated List: [1, 2, 3, 5, 99]
Updated List: [99, 5, 3, 2, 1]

In [5]:
numbers = [10, 20, 30, 40, 50]
average = sum(numbers) / len(numbers)
print("Average:", average)

Average: 30.0

In [26]:
List = [1,2,"MIT",3.4]   #create
print(List[2])           #access
print(List[-2])
print(List[1:4])         #slicing
List.append("mit")       #adding ele
List.remove(2)           #removing ele
print(List)
List.insert(0,"Krish")   #addSpecificIndex
print(List)
List[0]="Krushna"        #changing
print(List)
print(len(List))         #length
for val in List:         #iterate
    print(val)
if 1 in List:            #PresentOrNot
    print("Element exists in the list")
else:
    print("Element does not exist")

MIT
MIT
[2, 'MIT', 3.4]
[1, 'MIT', 3.4, 'mit']
['Krish', 1, 'MIT', 3.4, 'mit']
['Krushna', 1, 'MIT', 3.4, 'mit']
5
Krushna
1
MIT
3.4
mit
Element exists in the list

# 2. Strings

In [24]:
Str="Python"
Str1="Java"
print(Str)
print(Str1)      #access
print(Str[1])      #access
print(Str[-2])     #negAccess
print(Str[1:3])    #slicing
print(Str[::-1])   #reverse
print(Str==Str1)   #compare
print(Str+Str1)    #concat
for Str2 in Str:   #iterate
    print(Str2)
print(len(Str1))   #length
Str = Str.replace("P", "")  #delete
print(Str)

Python
Java
y
o
yt
nohtyP
False
PythonJava
P
y
t
h
o
n
4
ython

# 3. Tuples

In [6]:
t = (1, 2, 3, 4, 5)
print(t)
print("Length:", len(t))
print("Index of 3:", t.index(3))
print("Count of 2:", t.count(2))

(1, 2, 3, 4, 5)
Length: 5
Index of 3: 2
Count of 2: 1

In [7]:
a, b = 5, 10
a, b = b, a
print("After swapping:", a, b)

After swapping: 10 5

In [28]:
Tuple=("apple", "banana", "cherry")     #create
print(Tuple[2])                         #access
print(len(Tuple))                       #length
for val in Tuple:                       #iterate
    print(val)
if "apple" in Tuple:                    #PresentOrNot
    print("Element exists in the list")
else:
    print("Element does not exist")
del Tuple

cherry
3
apple
banana
cherry
Element exists in the list

# 4. Sets

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}

print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)
print("Is 3 in set1?", 3 in set1)

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {4, 5}
Difference: {1, 2, 3}
Is 3 in set1? True

In [9]:
sentence = "python is easy and python is powerful"
unique_words = set(sentence.split())
print("Unique words:", unique_words)

Unique words: {'easy', 'python', 'is', 'powerful', 'and'}

In [27]:
Set= {"Krish", "Rohit"}      #create
Set.add("Gaurav")            #adding
print(Set)
print(len(Set))              #length
for val in Set:                       #iterate
    print(val)
if "Krish" in Set:                    #PresentOrNot
    print("Element exists in the list")
else:
    print("Element does not exist")
Set1={"MIT", "ASIA"}
Set2= Set.union(Set1)                    #join
print(Set2)

{'Krish', 'Rohit', 'Gaurav'}
3
Krish
Rohit
Gaurav
Element exists in the list
{'Rohit', 'MIT', 'ASIA', 'Krish', 'Gaurav'}

# 5. Dictionaries

In [10]:
student = {
    "name": "Krish",
    "age": 19,
    "branch": "AI&DS"
}

print("Name:", student["name"])
print("All keys:", student.keys())
print("All values:", student.values())

Name: Krish
All keys: dict_keys(['name', 'age', 'branch'])
All values: dict_values(['Krish', 19, 'AI&DS'])

In [11]:
student["college"] = "MIT"
student["age"] = 20
print("Updated:", student)

Updated: {'name': 'Krish', 'age': 20, 'branch': 'AI&DS', 'college': 'MIT'}

In [12]:
del student["branch"]
print("After deletion:", student)

After deletion: {'name': 'Krish', 'age': 20, 'college': 'MIT'}

In [13]:
fruits = {"apple": 100, "banana": 40, "mango": 70}
total = sum(fruits.values())
print("Total Cost:", total)

Total Cost: 210

In [29]:
Dict = {"Name": "Krish", "Age": "19"}      #create
print(Dict)
x = Dict["Name"]                           #access
print(x)
Dict["RollNo"] = "86"                      #addEle
print(Dict)
Dict.pop("Age")                            #removeEle
print(Dict)
for val in Dict.values():                  #iterate
    print(val)

{'Name': 'Krish', 'Age': '19'}
Krish
{'Name': 'Krish', 'Age': '19', 'RollNo': '86'}
{'Name': 'Krish', 'RollNo': '86'}
Krish
86

# 6. Range

In [30]:
#Range

x = range(6)
for n in x:
  print(n)

x = range(3, 6)
for n in x:
  print(n)

0
1
2
3
4
5
3
4
5

# 7. Indexing & Slicing

In [17]:
my_list = ['A', 'B', 'C', 'D', 'E']
print(my_list)
print(my_list[1:4])     # Slicing
print(my_list[::-1])    # Reverse list
print(my_list[:3])      # First 3 items

['A', 'B', 'C', 'D', 'E']
['B', 'C', 'D']
['E', 'D', 'C', 'B', 'A']
['A', 'B', 'C']

# 8. Nested Lists & Dictionaries

In [16]:
# Nested List
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix)
print("Matrix element (2,3):", matrix[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Matrix element (2,3): 6

In [18]:
# Nested Dictionary
students = {
    "Krish": {"age": 19, "branch": "AI&DS"},
    "Rohit": {"age": 20, "branch": "CSE"}
}
print(students)
print(students["Rohit"]["branch"])

{'Krish': {'age': 19, 'branch': 'AI&DS'}, 'Rohit': {'age': 20, 'branch': 'CSE'}}
CSE

In [19]:
for name in students.keys():
    print("Student:", name)

Student: Krish
Student: Rohit

# 9. Mini Practice Tasks

In [20]:
# Frequency Counter
# Count occurrences of each word in a string.

sentence = "data is important and data is powerful"
words = sentence.split()
freq = {}

for w in words:
    freq[w] = freq.get(w, 0) + 1

print(freq)

{'data': 2, 'is': 2, 'important': 1, 'and': 1, 'powerful': 1}

In [21]:
# Remove Duplicates from a List

nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = list(set(nums))
print("Unique Numbers:", unique_nums)

Unique Numbers: [1, 2, 3, 4, 5]

In [22]:
# Sort a Dictionary by Value

scores = {"A": 55, "B": 90, "C": 70}
sorted_scores = dict(sorted(scores.items(), key=lambda x: x[1]))
print("Sorted Dictionary:", sorted_scores)

Sorted Dictionary: {'A': 55, 'C': 70, 'B': 90}

In [23]:
# Merge Two Dictionaries

d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
merged = {**d1, **d2}
print("Merged:", merged)

Merged: {'a': 1, 'b': 2, 'c': 3, 'd': 4}