<a href="https://colab.research.google.com/github/KrushnaTaur/ML-Practice/blob/main/01_Basics/06_Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#1. Creating Series and DataFrames

Pandas Series = 1D labeled array, DataFrame = 2D labeled table.

In [4]:
# Create a Series
data = [10, 20, 30, 40, 50]
s = pd.Series(data, index=['a','b','c','d','e'])
print("Series:\n", s)

Series:
 a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
# Create a DataFrame
data = {'Name': ['Krish', 'Rohit', 'Ravi'],
        'Age': [19, 20, 21],
        'Marks': [85, 90, 88]}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

DataFrame:
     Name  Age  Marks
0  Krish   19     85
1  Rohit   20     90
2   Ravi   21     88

In [30]:
# Create a Series of city populations
city_data = {'Mumbai': 20411000,
             'Delhi': 16787941,
             'Bengaluru': 8443675,
             'Chennai': 7088000,
             'Pune': 3124458}

cities = pd.Series(city_data)
print("City Population Series:\n")
print(cities)

City Population Series:

Mumbai       20411000
Delhi        16787941
Bengaluru     8443675
Chennai       7088000
Pune          3124458
dtype: int64

# 2. Reading CSV Files

In [7]:
# Sample CSV creation (for practice)
data = {'Name':['Krish','Rohit','Ravi'],
        'Branch':['AI&DS','CSE','IT'],
        'Marks':[88,92,85]}
sample = pd.DataFrame(data)
sample.to_csv('students.csv', index=False)

In [8]:
# Read CSV file
df = pd.read_csv('students.csv')
print("CSV Data:\n", df)

CSV Data:
     Name Branch  Marks
0  Krish  AI&DS     88
1  Rohit    CSE     92
2   Ravi     IT     85

In [32]:
# Create a small product dataset
products = {
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
    'Price': [60000, 800, 1500, 12000, 2500],
    'Quantity': [5, 20, 15, 7, 10]
}
print(products)

{'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'], 'Price': [60000, 800, 1500, 12000, 2500], 'Quantity': [5, 20, 15, 7, 10]}

In [33]:
# Convert to DataFrame and save as CSV
df_products = pd.DataFrame(products)
df_products.to_csv('products.csv', index=False)

In [34]:
# Read it back
df_read = pd.read_csv('products.csv')
print("Products Data (from CSV):\n")
print(df_read)

Products Data (from CSV):

      Product  Price  Quantity
0      Laptop  60000         5
1       Mouse    800        20
2    Keyboard   1500        15
3     Monitor  12000         7
4  Headphones   2500        10

# 3. Selecting Rows & Columns (loc, iloc)

.loc → label-based access

.iloc → index-based access

In [36]:
df = pd.DataFrame({'Name':['A','B','C','D'],
                   'Score':[80,90,85,88],
                   'Age':[19,20,18,22]})

print("Select 'Name' column:\n", df['Name'])
print("\nFirst two rows using iloc:\n", df.iloc[:2])
print("\nRows with labels 1–3 using loc:\n", df.loc[1:3])
print("\nSpecific cell (row 2, column 'Score'):", df.loc[1, 'Score'])

Select 'Name' column:
 0    A
1    B
2    C
3    D
Name: Name, dtype: object

First two rows using iloc:
   Name  Score  Age
0    A     80   19
1    B     90   20

Rows with labels 1–3 using loc:
   Name  Score  Age
1    B     90   20
2    C     85   18
3    D     88   22

Specific cell (row 2, column 'Score'): 90

In [37]:
# Display last two rows using iloc
print("\nLast two rows of products dataset:\n")
print(df_read.iloc[-2:])

Last two rows of products dataset:

      Product  Price  Quantity
3     Monitor  12000         7
4  Headphones   2500        10

# 4. Filtering, Sorting, and Handling Missing Data

In [16]:
df = pd.DataFrame({'Name':['A','B','C','D','E'],
                   'Score':[80,90,None,88,75],
                   'Age':[19,20,18,22,None]})

print("Original:\n", df)

Original:
   Name  Score   Age
0    A   80.0  19.0
1    B   90.0  20.0
2    C    NaN  18.0
3    D   88.0  22.0
4    E   75.0   NaN

In [11]:
# Filter
print("\nStudents with Score > 80:\n", df[df['Score'] > 80])

Students with Score > 80:
   Name  Score   Age
1    B   90.0  20.0
3    D   88.0  22.0

In [12]:
# Sort
print("\nSorted by Score:\n", df.sort_values(by='Score', ascending=False))

Sorted by Score:
   Name  Score   Age
1    B   90.0  20.0
3    D   88.0  22.0
0    A   80.0  19.0
4    E   75.0   NaN
2    C    NaN  18.0

In [13]:
# Handle Missing Values
print("\nFill missing with mean:\n", df.fillna(df.mean(numeric_only=True)))

Fill missing with mean:
   Name  Score    Age
0    A  80.00  19.00
1    B  90.00  20.00
2    C  83.25  18.00
3    D  88.00  22.00
4    E  75.00  19.75

In [14]:
print("\nDrop rows with any NaN:\n", df.dropna())

Drop rows with any NaN:
   Name  Score   Age
0    A   80.0  19.0
1    B   90.0  20.0
3    D   88.0  22.0

In [38]:
data = {'Name':['A','B','C','D','E'],
        'Score':[80,90,None,88,75],
        'Age':[19,20,18,22,None]}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
   Name  Score   Age
0    A   80.0  19.0
1    B   90.0  20.0
2    C    NaN  18.0
3    D   88.0  22.0
4    E   75.0   NaN

In [39]:
# Replace missing Age values with average
avg_age = df['Age'].mean()
df['Age'].fillna(avg_age, inplace=True)

/tmp/ipython-input-375970630.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(avg_age, inplace=True)

In [40]:
# Sort by Age
df_sorted = df.sort_values(by='Age')
print("\nAfter filling missing Age and sorting:\n", df_sorted)

After filling missing Age and sorting:
   Name  Score    Age
2    C    NaN  18.00
0    A   80.0  19.00
4    E   75.0  19.75
1    B   90.0  20.00
3    D   88.0  22.00

# 5. GroupBy and Aggregation

In [48]:
df = pd.DataFrame({'Branch':['AI','AI','CSE','CSE','IT'],
                   'Marks':[85,90,88,92,80],
                   'Year':[2,2,3,3,2]})

print("Original:\n", df)

Original:
   Branch  Marks  Year
0     AI     85     2
1     AI     90     2
2    CSE     88     3
3    CSE     92     3
4     IT     80     2

In [49]:
grouped = df.groupby('Branch')['Marks'].mean()
print("Average marks by Branch:\n", grouped)

Average marks by Branch:
 Branch
AI     87.5
CSE    90.0
IT     80.0
Name: Marks, dtype: float64

In [50]:
print("\nCount by Branch:\n", df.groupby('Branch')['Marks'].count())

Count by Branch:
 Branch
AI     2
CSE    2
IT     1
Name: Marks, dtype: int64

In [51]:
df_marks = pd.DataFrame({
    'Branch':['AI','AI','CSE','CSE','IT'],
    'Marks':[85,90,88,92,80],
    'Year':[2,2,3,3,2]
})
print("Original:\n", df_marks)

Original:
   Branch  Marks  Year
0     AI     85     2
1     AI     90     2
2    CSE     88     3
3    CSE     92     3
4     IT     80     2

In [53]:
avg_marks_per_year = df_marks.groupby('Year')['Marks'].mean()
print("Average Marks per Year:\n", avg_marks_per_year)

Average Marks per Year:
 Year
2    85.0
3    90.0
Name: Marks, dtype: float64

# 6. Merging & Joining DataFrames

In [20]:
students = pd.DataFrame({'ID':[1,2,3],
                         'Name':['Krish','Rohit','Mira']})

marks = pd.DataFrame({'ID':[1,2,3],
                      'Marks':[88,92,85]})

print(students)
print("\n", marks)

   ID   Name
0   1  Krish
1   2  Rohit
2   3   Mira

    ID  Marks
0   1     88
1   2     92
2   3     85

In [21]:
merged = pd.merge(students, marks, on='ID')
print("Merged DataFrame:\n", merged)

Merged DataFrame:
    ID   Name  Marks
0   1  Krish     88
1   2  Rohit     92
2   3   Mira     85

In [46]:
df_emp = pd.DataFrame({
    'Emp_ID':[1,2,3,4],
    'Name':['Krish','Rohit','Mira','Arjun']
})

df_salary = pd.DataFrame({
    'Emp_ID':[1,2,3,4],
    'Salary':[50000,55000,48000,60000]
})

In [47]:
merged_df = pd.merge(df_emp, df_salary, on='Emp_ID')
print("Employee with Salary:\n", merged_df)

Employee with Salary:
    Emp_ID   Name  Salary
0       1  Krish   50000
1       2  Rohit   55000
2       3   Mira   48000
3       4  Arjun   60000

#7. Exporting Data to CSV

In [25]:
df = pd.DataFrame({'Name':['Krish','Rohit'],
                   'Marks':[85,92]})

In [26]:
df.to_csv('output.csv', index=False)
print("✅ Data exported successfully to output.csv")

✅ Data exported successfully to output.csv

In [28]:
df = pd.read_csv('output.csv')
print("CSV Data:\n", df)

CSV Data:
     Name  Marks
0  Krish     85
1  Rohit     92

In [54]:
# Export the cleaned/sorted Age DataFrame from Task 4
df_sorted.to_csv('clean_data.csv', index=False)
print("✅ Cleaned data exported successfully to 'clean_data.csv'")

✅ Cleaned data exported successfully to 'clean_data.csv'

In [55]:
df = pd.read_csv('clean_data.csv')
print("Cleaned Data:\n", df)

Cleaned Data:
   Name  Score    Age
0    C    NaN  18.00
1    A   80.0  19.00
2    E   75.0  19.75
3    B   90.0  20.00
4    D   88.0  22.00

# 8. Bonus Mini Challenges

In [60]:
df_bonus = pd.DataFrame({
    'Name':['Krish','Rohit','Ravi','Gaurav','Raj'],
    'Marks':[85,92,88,90,95],
    'Age':[19,20,21,20,22]
})

In [61]:
# Display top 3 rows
print("Top 3 rows:\n", df_bonus.head(3))

Top 3 rows:
     Name  Marks  Age
0  Krish     85   19
1  Rohit     92   20
2   Ravi     88   21

In [62]:
# Check number of rows & columns
print("\nShape (rows, columns):", df_bonus.shape)

Shape (rows, columns): (5, 3)

In [63]:
# Find highest and lowest marks
print("\nHighest Marks:", df_bonus['Marks'].max())
print("Lowest Marks:", df_bonus['Marks'].min())

Highest Marks: 95
Lowest Marks: 85

In [64]:
# Rename columns
df_renamed = df_bonus.rename(columns={'Marks':'Score'})
print("\nRenamed Columns:\n", df_renamed.head())

Renamed Columns:
      Name  Score  Age
0   Krish     85   19
1   Rohit     92   20
2    Ravi     88   21
3  Gaurav     90   20
4     Raj     95   22

In [65]:
# Drop a column
df_dropped = df_bonus.drop('Age', axis=1)
print("\nDataFrame after dropping 'Age' column:\n", df_dropped)

DataFrame after dropping 'Age' column:
      Name  Marks
0   Krish     85
1   Rohit     92
2    Ravi     88
3  Gaurav     90
4     Raj     95